
.one{
	background-color: green;
	width: 150px;
	height: 150px;
}
.holder{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.item1{
	background-color: red;
	order: 10;
}
.item2{
	background-color: blue;
	order: 12;
}